* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;

    background-image: linear-gradient(to bottom right, rgb(0, 89, 255), rgb(195, 0, 255), rgb(160, 7, 71));
  }
  .text-center{
    text-align: center;
  }
  
.absolute{
  position: absolute;
left: 100px;
top: 1180px;
}
.relative{
  position: relative;

}
.static{
  position: static;

}
.fixed{
  position: fixed;
  top: 29px;
border: 2px solid rgb(53, 176, 9);
}
.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}
.relative2{
  position: relative;
top: 34px;
left: 45px;
color: rgb(171, 106, 7);
}
.span{
position:absolute ;
color: blue;
top: 32px;
left: 312px;
}