* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
 .text-center{
  text-align: center;
 }
 
.bg{
  background-color: aliceblue;
  color: rgb(34, 121, 143);
  background-image: url(https://picsum.photos/id/1/200/300);
  background-repeat: no-repeat ;
  background-position: 50% 50%;
  background-size: 820px  400px ;
  height: 1035px;
  border: 2px solid black;
  background-attachment:fixed ;
}
body {
  background:  linear-gradient( to bottom right, red , blue ,yellow );
}